.reveal section img {
    border: none;
}

.reveal section img.component-tree {
    background: none;
    box-shadow: none;
}

.reveal section img.unidirectional-data-flow {
    background: lemonchiffon;
    box-shadow: none;
    max-height: 75vh;
    max-width: 40vw;
}

.reveal section img.logo {
    max-width: 10%;
    border: none;
    box-shadow: none;
    background: none;
}

.reveal pre code {
    max-height: 75vh;
}

.references {
    font-size: medium;
}
